<launch>
  <arg name="with_rviz" default="true"/>
  <arg name="device" default="/dev/ttyUSB1"/>
  <arg name="frame_id" default="imu"/>
  <arg name="rate" default="200"/>

  <param if="$(arg with_rviz)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find dmu_ros)/urdf/dmu11.urdf'" />

  <node name="simualtion_node" pkg="dmu_ros" type="simulation_node"/>


  <node if="$(arg with_rviz)"
	name="rviz" pkg="rviz" type="rviz" args="-d $(find dmu_ros)/rviz/imu.rviz"/>

</launch>
